/************************************************************************************************
    BLOCK TOP BAR  
*************************************************************************************************/  
#bwp-topbar{
    color: $topbar-color;
    font-size: 14px;
	height:45px;
	line-height: 45px;
	border-bottom: 1px solid $border-color;
	a {
		color:$gray;
		&:hover{
			color:$theme-color;
		}
	}
	.email{
		display:inline-block;
		i{
			margin-right:10px;
			color:$gray-dark;
			font-size:17px;
			position:relative;
			top:3px;
		}
	}
	.ship{
		font-size: 16px;
		line-height: 45px !important;
	}
	#topbar_menu{
		list-style:none;
		@include rtl-padding-right(20px);
		li{
			display:inline-block;
			line-height:20px;
			@include rtl-margin-right(20px);
			@include rtl-padding-right(20px);
			@include rtl-border-right(1px solid #dedede);
			&:last-child{
				@include rtl-margin-right(0);
				@include rtl-padding-right(0);
				@include rtl-border-right(0);
			}
		}
	}
	.topbar-left{
		>*{
			@include rtl-margin-right(20px);
			@include rtl-padding-right(20px);
			@include rtl-border-right(1px solid #dedede);
			line-height:20px;
			&:last-child{
				@include rtl-margin-right(0);
				@include rtl-padding-right(0);
				@include rtl-border-right(0);
			}
		}
	}
	.topbar-right{
		@include rtl-text-align-right();
		>*{
			display:inline-block;
			line-height:20px;
			&:not(:last-child){
				&:after{
					content: "";
					display: inline-block;
					background: #dedede;
					@include size(18px, 1px);
					margin: 0 15px;
					vertical-align: middle;
				}
			}
			a{
				color:$gray;
				&:hover{
					color:$theme-color;
				}
			}
			i{
				margin-right:10px;
				color:$gray-dark;
				font-size:20px;
				position:relative;
				top:3px;
			}
		}
	}
	.woocs-style-1-dropdown{
		border: 0;
		width:auto !important;
		color: $gray-dark;
		background: transparent;
		box-shadow: unset;
		height: auto;
		border-radius: 0;
		@include rtl-border-right(1px solid $base-bg);
		&:focus{
			outline:unset;
		}
		&.woocs-style-1-active{
			.woocs-style-1-select{
				color:$theme-color;
				> i{
					@include transform(rotate(-180deg));
					color:$theme-color;
				}
			}
		}
		.woocs-style-1-select{
			padding:0;
			&:hover{
				color:$theme-color;
				i{
					color:$theme-color;
				}
			}
			&:focus{
				outline:unset;
			}
			i{
				color:$gray-dark;
				font-size:14px;
				font-style:inherit;
				margin:0;
				&:before{
					display:inline-block;
					font-family: 'ElegantIcons';
					content: "\33";
					position:relative;
					top:1px;
				}
				img{
					display:none;
				}
			}
		}
		.woocs-style-1-dropdown-menu{
			min-width:50px;
			color:$text-color;
			@include border-radius(0);
		}
	}
	.block-top-link{
		.menu-language,.menu-currency{
			.widget-title{
				color:$gray-dark;
				font-weight:400;
				&:after{
					display:inline-block;
					font-family: 'ElegantIcons' !important;
					content: "\33";
					position:relative;
					top:1px;
					font-size:14px;
					color:$gray-dark;
					@include transition(all 0.3s ease);
					line-height:1;
				}
				&.active,&:hover{
					color:$theme-color;
					&:after{
						color:$theme-color;
					}
				}
				&.active{
					&:after{
						@include transform(rotate(-180deg));
						color:$theme-color;
					}
				}
			}
			a{
				color:$text-color;
				&:hover{
					color:$theme-color;
				}
			}
			.menu-language-menu-container,.menu-currency-menu-container{
				top:30px;
			}
		}
	}
	.social-link{
		position:relative;
		top:-3px;
		li{
			margin:0 13px;
			&:last-child{
				@include rtl-margin-right(0);
			}
			&:first-child{
				@include rtl-margin-left(0);
			}
			a{
				i{
					font-size:16px;
					margin:0;
					font-weight:400;
				}
				&:hover{
					i{
						color:$theme-color;
					}
				}
			}
		}
	}
	&.topbar-v2 {
		color: $white;
		border-color: rgba($white, 0.2);
		a{
			color: $white;
		    &:hover{
		    	color: $gray-dark;
		    	i{
		    		color: $gray-dark !important;
		    	}
		    }
		}
		.topbar-right > *{
			i{
				color: $white;
			}
		}
	}
	&.topbar-v3 {
		border-bottom:1px solid rgba($white,0.12);
		color:$white;
		a{
			color:$white;
			&:hover{
				color:$theme-color;
			}
		}
		.email{
			i{
				color:$white;
			}
		}
		#topbar_menu li{
			border-color:rgba($white,0.2);
		}
		.topbar-left > *{
			border-color:rgba($white,0.2);
		}
		.topbar-right > *{
			border-color:rgba($white,0.2);
			i{
				color:$white;
				&:hover{
					color:$theme-color;
				}
			}
		}
		.block-top-link{
			.menu-currency,.menu-language{
				.widget-title{
					color:$white;
					&:after{
						color:$white;
					}
					&:hover{
						color:$theme-color;
						&:after{
							color:$theme-color;
						}
					}
				}
			}
			>*{
				border-color:$white;
			}
			
		}
	}
} 
/************************************************************************************************
    BLOCK HEADER 
*************************************************************************************************/ 
.title-vertical{
	h2{
		font-size:14px;
		text-transform:uppercase;
		padding-bottom:10px !important;
		position:relative;
		font-weight:700;
		&:before{
			position:absolute;
			bottom:-1px;
			@include size(40px,1px);
			background:$theme-color;
			content:"";
			@include rtl-left(0);
		}
	}
}
.categories-vertical-menu{
	position: relative;
	&.show{
		@media (min-width:$screen-md-max){
			.bwp-vertical-navigation >div{
				display : block !important;
				height : 100% !important;
			}
		}
	}	
	&.accordion{
		.verticalmenu{
			border:0 !important;
		}
		.bwp-vertical-navigation >div{
			display : none;
		}
	}
	.menu-item-desc{
		display:none;
	}
	.widget-title{
		font-size: 14px;
		text-transform: uppercase;
		color: $gray-dark;
		margin: 0;
		line-height: 55px;
		background: #ececec;
		display:flex;
		cursor:pointer;
		position:relative;
		font-weight:900;
		font-family: "CerebriSans ExtraBold";
		i{
			background:$white;
			width:13px;
			height:2px;
			@include rtl-margin(26px ,55px ,0 ,17px);
			position:relative;
			&:before{
				content:"";
				position:absolute;
				background:$white;
				width:29px;
				height:2px;
				top:-6px;
			}
			&:after{
				content:"";
				position:absolute;
				background:$white;
				width:22px;
				height:2px;
				bottom:-6px;
			}
			@media (max-width:$screen-md-max){
				@include rtl-margin(26px ,40px ,0 ,17px);
			}
		}
		&:before{
			content:"";
			position:absolute;
			top:0;
			@include rtl-left(0);
			@include size(60px,55px);
			background:$gray-dark;
		}
		&:after{
			display: inline-block;
			font-family: 'ElegantIcons';
			content: "\33";
			position: relative;
			@include rtl-margin-left(5px);
			font-size:20px;
			@include transition(all 0.3s ease);
		}
		&.active{
			&:after{
				@include transform(rotate(-180deg));
			}
		}
	}
	.verticalmenu{
		position: absolute;
		width: 100%;
		background: $white;
		border:1px solid #e3e3e3;
		border-top:0;
	}
	.bwp-vertical-navigation >div{
		padding: 0;
		display:block;
		position:relative;
		border: 1px solid $border-color;
		ul.menu{
			padding:0;
			li{
				&.menu-hide-title{
					> span.title, >a{
						@media (max-width: 991px){
							display: block !important;
							margin:0;
							padding:0!important;
						}
					}
				}
				&.menu-item-has-children{
					>a{
						display: inline-block;
						width: 100%;
						&:after{
							top: 1px;
							content: "\f2fb"!important;
							position:absolute;
							@include rtl-margin-left(5px);
							@include rtl-right(0);
						}
					}
				}
			}
			li.level-0{
				float:unset;
				width:100%;
				position:unset !important;
				border-bottom:1px solid #e3e3e3;
				list-style:none;
				&:last-child{
					border-bottom:none;
				}
				i{
					font-size: 21px;
					width: 21px;
					text-align: center;
					@include rtl-margin-right(16px);
					position: relative;
					top: 2px;
					@include rtl-float-left();
				}
				>a{
					margin:0;
					width:100%;
					font-weight: 400;
					font-size: 16px;
					text-transform: capitalize;
					white-space: normal;
					position:relative;
					color:$text-color;
					position:relative;
					padding: 9.4px 15px;
					display:inline-block;
					&:before{
						position:absolute;
						@include size(1px,100%);
						background:$theme-color;
						@include opacity-h();
						content:"";
						position:absolute;
						top:0;
						@include rtl-left(0);
					}
					&:hover{
						color:$theme-color;
						&:before{
							@include opacity-s();
						}
					}
					> span{
						position: relative;
						&:before, &:after{
							display:none!important;
						}
					}
					@media (max-width:1400px){
						padding:8px 15px;
					}
				}
				&.menu-item-has-children{                       
					@media (min-width: $screen-md){
						> ul.sub-menu,div.sub-menu {
							top: 0;
							@include rtl-left(calc(100% + 50px));
						}
						&:hover {
							> ul.sub-menu,div.sub-menu {
								@include opacity-s();
								@include rtl-left(100%);
							}
						}
					}
					&:not(.mega-menu){
						position:relative !important;
						li.menu-item-has-children{
							@media (min-width: $screen-md){
								> ul.sub-menu,div.sub-menu {
									top: 0;
								}
								&:hover {
									> ul.sub-menu {
										top: 0 !important;
									}
								}
							}
						}
					}
					>a{
						&:after{
							font-family: "Material";
							display: inline-block;
							background: transparent;
							opacity: 1;
							@include rtl-right(20px);
							top: calc(50% - 13.5px);
							bottom: auto;
							@include square(auto);
							@media(max-width:$screen-sm-max){
								display:none;
							}
						}
					}
				}
				.menu-item-has-children{
					>a >span{
						&:after{
							display:none;
						}
					}
				}
				&.current_page_item, &:hover, &.current-menu-item{
					> a >span{
						color: $theme-color;
						&:before{
							content:"";
							width:100%;
							height:1px;
							@include rtl-left(0);
							background:$navbar-link-hover-color;
							position:absolute;
							bottom:0;
						}
					}
				}
				&.mega-menu-fullwidth-width{
					ul.sub-menu,div.sub-menu{
						@include rtl-left(calc(100% + 30px));
					}
				}
				ul.sub-menu,div.sub-menu{
					@include rtl-left(100%);
					top: 0;
					padding:25px 20px;
					@include transform(unset);
					position:absolute;
					z-index: 9999;
					background: $white;
					display: block;
					min-width: 225px;
					@include transition(all 0.3s ease);
					@include opacity-h();
					border:1px solid #f5f5f5;
					li{
						list-style:none;
						padding-top: 5px;
						padding-bottom: 5px;
						&:last-child{
							border-bottom:0;
						}
					}
					@media(max-width:$screen-sm-max){
						padding-top:0;  
					}
					a{
						color:$text-color;
						&:hover{
							color:$theme-color;
						}
					}
				}
				&.mega-menu{
					>ul.sub-menu,div.sub-menu{
						padding:0;
						>div{
							height:100%;
							>div{
								height:100%;
								>div{
									height:100%;
								}
							}
						}
						.box-vertical{
							padding:30px 15px;
						}
						@media(min-width:992px){
							width:880px;
							border:1px solid rgba($light-gray,0.25);
							@media (max-width:$screen-md-max){
								width:700px;
							}
						}
						.title h2{
							font-size:15px;
							text-transform:uppercase;
							margin:0;
							margin-bottom:17px;
						}
						ul{
							padding:0;
							li{
								list-style:none;
								padding:3px 0;
								&:last-child{
									border-bottom:0;
								}
								a{
									color:$text-color;
									&:hover{
										color:$theme-color;
									}
								}
							}
						}
						.vertical-menu{
							padding:35px 30px;
							height:100%;
							margin:0;
						}
					}
					&.vertical-menu3{
						div.sub-menu{
							width:530px;
						}
					}
					&.vertical-menu5{
						div.sub-menu ul li a{
							color:$white;
							&:hover{
								color:$theme-color;
							}
						}
						.title-vertical h2{
							@media (min-width:$screen-sm-max){
								color:$white;
							}
						}
					}
				}
				&:not(.mega-menu)> ul.sub-menu,div.sub-menu{
					@media (min-width: $screen-sm-max){
						li.level-1{
							.sub-menu{
								@include rtl-left(calc(100% + 20px));
							}
						}
					}   
				}
			}
			.more-wrap{
				padding: 0 20px;
				color: $gray-dark;
				font-weight:500;
				background:rgba($gray-dark,0.2);
				&:hover{
					cursor: pointer;
					color: $theme-color;
				}
				span{
					line-height:45px;
					@media(max-width:1499px)and(min-width:$screen-lg){
						line-height:40px;
					}
					&:before{
						font-size: 16px;
						@include rtl-margin-right(14px);
						content: "\f278";
						font-family: Material;
						width: 20px;
						font-weight: 400;
						text-align: center;
						display: inline-block;
						vertical-align: top;
						@media (max-width: 1529px){
							@include rtl-margin-right(8px);
						}
					}
				}
				&.open{
					span{
						&:before{
							content: "\f273";
						}
					}
				}
			}
		}
	}
}

.page-template-homepage{
	.bwp-header{
		&.header-v9{
			@media (min-width:$screen-md-max){
				position:absolute;
				width:100%;
				padding:50px 0;
			}
		}
		&.header-v8{
			@media (min-width:$screen-md-max){
				position:absolute;
				width:100%;
				padding:50px 0;
			}
			@media (max-width:$screen-md-max){
				background:rgba($gray-dark,0.5);
			}
			.bwp-navigation ul > li.level-0{
				> a{
					color:$white;
				}
				&:hover{
					> a{
						color: $navbar-link-hover-color;
					}
				}
				&.current_page_item, &:hover, &.current-menu-item, &.current-menu-ancestor{
					> a{
						color: $navbar-link-hover-color;
					}
				}
			}
			.header-page-link{
				.search-box .search-toggle,a,.mini-cart .cart-icon .icons-cart,h2,.widget-title{
					color:$white;
					&:hover{
						color:$theme-color;
					}
				}
			}
		}
	}
}
.home.blog{
	.bwp-header{
		margin-bottom:30px;
	}
}
.#{$app-prefix}-header {
    margin-bottom: $header-margin-bottom;
    position: relative;
    z-index: 9999;
    background: $header-bg;
    .header-content{
        @include transition(all .3s ease 0s);
        .wpbingo-menu-left .menu-title-box{
            .navbar-toggle{
                display: inline-block;
                color: $gray-dark;
                >span{
                    font-size: 15px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                i{
                    font-size: 15px;
                }
            }
        }
        .search-box {
            color: $gray-dark;
            &:hover{
                color: $theme-color;
            }
            .search-toggle {
                display: block;
                cursor: pointer;
                font-size: 22px;
            }
        }
		&.empty_header_right{
			@media(max-width:$screen-sm-max){
				>.container{
					>.row{
						display:flex;
						.header-logo{
							text-align:left!important;
						}
						.header-right{
							display:none;
						}
					}
				}
			}
		}
    }
	.header-menu{
		position:unset;
	}
	.header-left{
		>*{
			display:inline-block;
			vertical-align:middle;
		}
	}
	.header-page-link{
		@include rtl-text-align-right();
		>*{
			display:inline-block;
			@include rtl-margin-left(20px);
			vertical-align:middle;
			&:first-child{
				@include rtl-margin-left(0);
			}
			@media (max-width:$screen-md-max) and (min-width:$screen-sm-max){
				@include rtl-margin-left(15px);
			}
			@media (max-width:$screen-xs-max){
				@include rtl-margin-left(10px);
			}
		}
		.phone{
			display:inline-flex;
			align-items:center;
			position:relative;
			@include rtl-padding-right(20px);
			&:before{
				content:"";
				position:absolute;
				@include rtl-right(0);
				@include size(1px,40px);
				top:calc(50% - 20px);
				background:#dedede;
			}
			i{
				color:$theme-color;
				font-size:30px;
				@include square(58px);
				border:2px solid $theme-color;
				@include border-radius(50%);
				text-align:center;
				line-height:54px;
			}
			.content{
				@include rtl-text-align-left();
				@include rtl-padding-left(15px);
				label{
					margin:0 0 -6px;
					display:block;
					font-size:11px;
					text-transform:uppercase;
					font-weight:700;
				}
				a,span{
					display:block;
					font-size:18px;
					font-weight:700;
				}
			}
		}
		.account{
			font-size:16px;
			margin-top:-5px;
			margin-bottom:0;
			font-weight:500;
			h2{
				font-size:16px;
				cursor:pointer;
				margin:0;
				&:hover{
					color:$theme-color;
				}
			}
			i{
				font-size:20px;
				@include rtl-margin-right(5px);
				position:relative;
				top:3px;
			}
		}
		.wishlist-box{
            font-size: 20px;    
			position:relative;
			top:2px;
			i{
				font-weight:700;
			}
        }
		.compare-box{
			position:relative;
			top:2px;	
			a{
				font-size:0;
				&:before{
					content:"\e905";
					font-family:icomoon;
					display:inline-block;
					font-size:20px;
					position: relative;
					line-height: 1;
					font-weight:700;
				}
			}
		}
        .mini-cart{
            .cart-icon {
            	position: relative;
				.icons-cart{
					position:relative;
					color:$gray-dark;
					cursor:pointer;
					&:hover{
						color:$theme-color;
					}
				}
            	i{
					font-size: 20px;
					position: relative;
					top: 2px;
            	} 
            }
            .cart-count {
            	position: absolute;
            	top: -12px;
            	@include rtl-right(-15px);
            	@include size(24px, 15px);
            	line-height: 15px;
            	display: inline-block;
            	color:$white;
            	text-align: center;
            	background:$theme-color;
            	@include border-radius(40%);  
				font-size:10px;
            }
        }
        .search-box .search-toggle{
            font-size: 20px;
			position:relative;
			top:2px;
			color:$gray-dark;
			&:hover{
				color:$theme-color;
			}
        }
        >.search-from{
            >ul.result-search-products{
                padding: 20px !important;
                max-height: 380px !important;
                min-width: 290px;
                top: 40px;
                li{
                    width: 100% !important;
                }
            }
        }
	}
    //Search
	.header-search-form{
		flex:1;
		width: 100%;
		@media (max-width:$screen-xs-max){
			margin-bottom:30px;
		}
		.result-search-products-content{
			position: absolute;
			background: $white;
			width:100%;
			top:calc(100% + 10px);
			left:0;
			@include border-radius(4px);
			@include box-shadow(0 1px 12px 2px hsla(0,0%,56%,.3));
			display:none;
			z-index:10;
			&:before{
				content:"";
				position:absolute;
				top:-14px;
				@include rtl-left(50px);
				border-style:solid;
				border-width:7px 8px;
				border-color:transparent;
				border-bottom-color: $white;
			}
		}
		.result-search-products{
			display:none;
			z-index: 10;
			max-height: 300px;
			overflow-y: auto;
			padding: 30px;
			overflow-x: hidden;
			list-style:none;
			&::-webkit-scrollbar-track
			{
				background-color: #F5F5F5;
			}

			&::-webkit-scrollbar
			{
				width: 5px;
				background-color: #F5F5F5;
			}

			&::-webkit-scrollbar-thumb
			{
				background-color: rgba($gray-dark, 0.1);
			}
			.item-search{
				list-style:none;
				padding:15px 0;
				display:table;
				width:100%;
				border-bottom:1px solid #f5f5f5;
				.item-image{
					display: table-cell;
					width: 70px;
				}
				.item-content{
					display: table-cell;
					vertical-align: top;
					@include rtl-padding-left(20px);
					a{
						font-weight:500;
						text-transform:capitalize;
					}
				}
				&:last-child{
					padding-bottom:0;
					border-bottom:0;
				}
				&:first-child{
					padding-top:0;
				}
			}
			.price{
				font-size:14px;
				del{
					font-size:13px;
				}
			}
			&.loading{
				&:before{
					position: absolute;
					left: 50%;
					top: calc(50% - 17px);
					display: inline-block;
					content: "\f110";
					width: auto;
					height: auto;
					color: $theme-color;
					margin-left: 0;
					font-family: FontAwesome;
					background-color: transparent !important;
					background: none;
					font-size: 20px;
					@include animation(2s linear 0s normal none infinite running spinAround);
				}
			}
		}
		.search-from{
			@include size(100%,58px);
			display:flex;
			position:relative;
			background:$white;
			border:2px solid $border-color ;
			@include border-radius(60px);
			max-width:430px;
			@media (max-width:$screen-md-max){
				width:auto;
			}
			.select_category{
				line-height:57px;
				@include rtl-padding(0 ,35px ,0 ,15px);
				position:relative;
				@include rtl-border-left(1px solid $border-color);
				@media (max-width: $screen-md-max){
					@include rtl-padding-left(10px);
				    @include rtl-padding-right(10px);
				}
				@media (max-width:$screen-xs-max){
					display:none;
				}
				&.open{
					.caret{
						@include transform(rotate(-180deg));
					}
				}
				.dropdown-backdrop{
					display:none;
				}
				.pwb-dropdown-toggle{
					line-height: 57px;
					display: inline-block;
					cursor:pointer;
					&:hover{
						color:$theme-color;
					}
				}
				ul{
					padding:15px 20px;
					max-height:350px;
					overflow:auto;
					min-width: 200px;
					right: -30px;
					left: auto;
					&::-webkit-scrollbar-track
					{
						background-color: #F5F5F5;
					}

					&::-webkit-scrollbar
					{
						width: 5px;
						background-color: #F5F5F5;
					}

					&::-webkit-scrollbar-thumb
					{
						background-color: rgba($gray-dark, 0.1);
					}
					li{
						border-bottom: 1px solid #f5f5f5;
						cursor:pointer;
						line-height:1.3;
						padding:15px 0;
						&:last-child{
							border-bottom:0;
						}
						&:hover,&.active{
							color:$theme-color;
						}
					}
				}
			}
			.caret{
				@include transition(all 0.3s ease);
				display:inline-block;
				font-size: 18px;
				line-height: 1;
				position:relative;
				top:3px;
				&:before{
					font-family: 'ElegantIcons';
					content: "\33";
				}
			}
			.search-box{
				@include rtl-text-align-left();
				flex:1;
				input[type="text"]{
					border:0;
					line-height:54px;
					width:100%;
					padding: 0 30px;
					@include placeholder(#8d8d8d);
					@media (max-width: $screen-md-max){
						padding: 0 20px;
					}
				}
				@media (max-width:$screen-md-max){
					width:auto;
				}
				@media (max-width:$screen-xs-max){
					@include rtl-padding-left(15px);
				}
			}
			#searchsubmit,#searchsubmit2{
				background:$gray-dark;
				color:$white;
				font-size:0;
				padding:0;
				@include border-radius(50%);
				@include square(48px);
				position:relative;
				margin: 3px;
				i{
					font-size:16px;
				}
				&:hover{
					background:$theme-color;
				}
			}
		}
	}
    .searchform{
        color: $gray-light;
        border: 1px solid $border-color;
        display: flex;
        font-size: 14px;
        height: 40px;
        padding: 0 25px;
        max-width: 415px;
        width: 100%;
        @include border-radius(5px);
        .searchsubmit{
            background: transparent;
            font-size: 19px;
            padding: 0;
			@include transform(rotateY(180deg));
            i{
                color: $gray-dark;
            }
            &:hover{
            	i{
                    color: $theme-color;
                }
            }
            &:active{
                @include box-shadow(none);
            }
        }
        input[type="text"]{
            border: 0;
            font-weight: 300;
            padding: 5px 0;
            width: 100%;
            @include rtl-margin-right(10px);
        }
    }
	.search-style{
		ul.result-search-products{
			li{
				width:100%;
			}
		}
	}
	.content-header{
		position:unset;
		display:flex;
		align-items:center;
	}
    //Block Top Link
    .block-top-link{
		&.acount{
			@include rtl-text-align-left();
			label{
				margin-bottom:-4px;
				font-size:14px;
				font-weight:400;
				text-transform:capitalize;
			}
		}
		> .widget{
			margin-bottom: 0;
			.widget-custom-menu{
				.widget-title{
					margin: 0;
					font-size:0;
					font-weight:500;
					cursor:pointer;
					line-height:0;
					&:after{
						font-size: 19px;
						content: "\e90c";
						font-family:wpbingofont;
						font-weight:600;
						line-height:20px;
					}
					&:hover{
						color:$theme-color;
					}
				}
				>div {
					display: none;
					margin: 0;
					padding: 15px 30px;
					font-size: 16px;
					text-transform: capitalize;
					position: absolute;
					z-index: 1001;
					background: $white;
					line-height: 28px;
					border: 1px solid rgba($light-gray,0.1);
					top: 40px;
					@include rtl-text-align-left();
					@include box-shadow( 0px 5px 15px 5px rgba(144, 144, 144, 0.15));
					@media (min-width:$screen-md){
						right:50%;
						@include transform(translateX(50%));
						&:before{
							content: "";
							position: absolute;
							top: -14px;
							left: calc(50% - 8px);
							border-style: solid;
							border-width: 7px 8px;
							border-color: transparent;
							border-bottom-color: #fff;
							-webkit-animation-name: sticky-product;
							animation-name: sticky-product;
							-webkit-animation-duration: 0.5s;
							animation-duration: 0.5s;
							-webkit-animation-timing-function: ease-in-out;
							animation-timing-function: ease-in-out;
							-webkit-animation-iteration-count: 1;
							animation-iteration-count: 1;
						}
					}
					@media (max-width:$screen-sm-max){
						@include rtl-right(0);
						@include rtl-left(unset);
					}
					&.menu-currency-menu-container{
						@include rtl-right(auto);
						@include rtl-left(0);
					}
					.widget{
						margin-bottom: 0;
						ul{
							padding: 0;     
							list-style: none;
						}
					}
					ul#menu-top-menu{
						min-width: 100px; 
						padding: 0;
						li{
							border-bottom:1px solid  $table-bg-hover;
							a{
								color:$text-color;
								padding:5px 0;
								display:inline-block;
								&:hover{
									color:$theme-color;
								}
							}
							&:last-child{
								border-bottom:0;
								a{
									padding-bottom:0;
								}
							}
							&:first-child{
								a{
									padding-top:0;
								}
							}
						}
					}
					ul{
						li{
							border-bottom:1px solid  $table-bg-hover;
							a{
								color:$text-color;
								padding:5px 0;
								display:inline-block;
								font-size:14px;
								&:hover{
									color:$theme-color;
								}
							}
							&:last-child{
								border-bottom:0;
								a{
									padding-bottom:0;
								}
							}
							&:first-child{
								a{
									padding-top:0;
								}
							}
						}
					}
				}
			}
		}
	}

    // Menu Fixed
    .menu_fixed{
        position: fixed;
        top: 0;
        z-index: 9999;
        background: $white;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: $container-lg-desktop;
        padding: 0 ($grid-gutter-width + 10);
        @include transition(all .6s ease 0s);
        .logo{
            margin: $theme-margin 0;
        }
        .navbar-mega{
            .navbar-nav > li > a{
                line-height: 55px;
            }
        }
        .search-from{
            top: 22px;
            @include rtl-right(40px);
        }
        .top-cart{
            @include rtl-right(90px);
            top: 23px;
        }
    }
    .header-logo{
		z-index:9;
    }
    .header-right{
        position: relative;
        color:$gray;
		display:flex;
		align-items:center;
		justify-content:flex-end;
		>*{
			display:inline-block;
			@media (min-width: $screen-md){
				&:not(:last-child){
					@include rtl-margin-right(20px);
					@include rtl-padding-right(20px);
					@include rtl-border-right(1px solid #dedede);
					@media (max-width: $screen-md-max){
						@include rtl-margin-right(10px);
					    @include rtl-padding-right(10px);
					}
				}
			}
		}
		.account{
			font-size: 16px;
			font-weight: 500;
			font-family: $font-family-second;
			i{
				display: inline-block;
                vertical-align: middle;
				font-size: 20px;
				@include rtl-margin-right(10px);
				position:relative;
				top:-2px;
			}
			h2{
				margin: 0;
				font-size: 16px;
				font-weight: 500;
			    font-family: $font-family-second;
				cursor:pointer;
			}
		}
    }
	.list-sale-store{
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 900;
		font-family: $font-family-monospace;
		>*{
			display: inline-block;
			&:not(:last-child){
				@include rtl-border-right(1px solid $border-color);
				@include rtl-padding-right(15px);
				@include rtl-margin-right(15px);
			}
			i{
				font-weight: 400;
				font-size: 18px;
				margin-right:5px;
				position: relative;
                top: 2px;
			}
		}
	}
	.header-bottom{
		.content-header-bottom{
			display:flex;
			align-items:center;
		}
		.header-vertical-menu{
			max-width:275px;
			width:100%;
			@media (max-width:$screen-md-max){
				max-width:240px;
			}
		}
		.header-search-form{
			width:100%;
			flex:1;
			.search-from{
				border:2px solid #e8e8e8;
				height:55px;
				max-width:100%;
				.search-box input[type="text"]{
					line-height:51px;
				}
				.select_category{
					line-height:51px;
				}
				#searchsubmit,#searchsubmit2{
					top:-2px;
					height:55px;
					right:-2px;
				}
			}
		}
		@media (max-width:$screen-sm-max){
			padding:10px 0;
			.content-header-bottom{
				justify-content:space-between;
			}
			.header-vertical-menu{
				max-width:unset;
				width:auto;
			}
		}
	}
	.wpbingoLogo{
		img{
			max-height:35px;
			width:auto;
		}
		@media (max-width:$screen-xs){
			margin-bottom:15px;
			text-align:center;
		}
	}
    .wpbingo-menu-mobile{
		@media(max-width:$screen-md-max){
			&.text-center{
				.wpbingo-menu-wrapper{
					@include rtl-margin-right(-30px);
				}
			}
		}
    }
	@media (max-width:$screen-sm-max){
		.header-desktop{
			display:none;
		}
	}
	@media (min-width:$screen-md){
		.header-mobile{
			display:none;
		}
	}
	.header-mobile{
		padding:20px 0;
		>.container{
			>.row{
				align-items:center;
			}
		}
		.navbar-toggle{
			border:0;
			background:transparent;
			padding:0;
			&:before{
				content: "\e908";
				font-family:wpbingofont;
				font-size:20px;
				color:$gray-dark;
			}
			span{
				display:none;
			}
		}
		.wpbingoLogo{
			text-align:center;
			margin:0 !important;
		}
		.broxi-topcart{
			@include rtl-margin-left(15px);
		}
        .mini-cart{
            .cart-icon {
            	position: relative;
				.icons-cart{
					position:relative;
					color:$gray-dark;
					cursor:pointer;
					&:hover{
						color:$theme-color;
					}
				}
            	i{
					font-size: 20px;
            	} 
            }
            .cart-count {
            	position: absolute;
            	top: -12px;
            	@include rtl-right(-15px);
            	@include size(24px, 15px);
            	line-height: 15px;
            	display: inline-block;
            	color:$white;
            	text-align: center;
            	background:$theme-color;
            	@include border-radius(40%);  
				font-size:10px;
            }
        }
		.header-right{
			display:flex;
			justify-content:flex-end;
			align-items:center;
		}
		.wpbingo-verticalmenu-mobile{
			display:inline-block;
		}
		#show-megamenu{
			@include transform(rotateY(180deg));
		}
		#show-verticalmenu{
			border:0;
			&:before{
				content: "\e909";
			}
		}
		.header-mobile-fixed{
			position:fixed;
			bottom:0;
			width:100%;
			background:$white;
			display:flex;
			padding:10px 15px 5px;
			align-items:center;
			@include box-shadow( 0px 1px 12px 2px rgba(144, 144, 144, 0.3));
			>div{
				flex:1;
				text-align:center;
			}
			.search-toggle{
				color:$gray-dark;
				font-size:20px;
			}
			.wishlist-box{
				a{
					color:$gray-dark;
					font-size:20px;
					&:hover{
						color:$theme-color;
					}
				}
			}
			i{
				font-size:20px;
			}
			a{
				&:hover{
					color:$theme-color;
				}
			}
		}
	}
	.header-wrapper{
		position:relative;
	}
    &.header-sticky {
        position: fixed;
        top: 0px;
        width: 100%;
        #bwp-topbar {
            display: none;
        }
    }
	&.header-normal{
		background:transparent !important;
	}
	.header-normal{
		padding:30px 0;
		background:transparent !important;
		.header-main{
			@media (max-width:$screen-sm-max){
				justify-content: flex-end !important;
			}
		}
		.menu{
			display: flex;
			flex-wrap: wrap;
		}
		.wpbingo-menu-mobile .navbar-default .navbar-toggle{
			color:$theme-color!important;
			border-color:$theme-color!important;
			position:unset !important;
		}
		.header-wrapper{
			background:transparent !important;
			.header-left{
				order:unset;
			}
		}
		.header-wrapper{
			.wpbingoLogo{
				margin-bottom:0;
				@include rtl-text-align-left();
			}
		}
		@media (max-width:$screen-sm-max){
			.header-wrapper{
				.wpbingoLogo{
					margin-bottom:0;
					@include rtl-text-align-left();
				}
			}
		}
		@media (max-width:$screen-xs){
			.wpbingoLogo{
				margin-bottom:0;
				@include rtl-text-align-left();
			}
		}
	}
	&.header-v1{
		.header-wrapper{
			padding: 25px 0;
		}
		.header-left{
			display:flex;
			.header-menu{
				@include rtl-margin-left(50px);
				flex: 1;
				width: 100%;
			}
		}
	}
	&.header-v2{
		.bwp-navigation ul > li.level-0{
			>a{
				color: $white;
				&:hover{
					color: $theme-color;
				}
			}
			&:first-child{
				@include rtl-padding-left(0);
			}
		}
		.header-left{
			.header-search-form{
				.search-from{
					max-width:100%;
				}
			}
		}
		.categories-vertical-menu .widget-title{
			background:$theme-color;
			&:before{
				background:$gray-dark;
			}
		}
		.header-bottom{
			border:0;
			background: $gray-dark;
			padding: 15px 0;
			color: $white;
			a{
				color: $white;
				&:hover{
					color: $theme-color;
				}
			}
		}
		.header-menu{
			width:100%;
			flex:1;
		}
		.header-wrapper{
			padding:20px 0;
			.row{
				align-items:center;
			}
		}
		.topbar-left{
			>*{
				@include rtl-margin-right(20px);
				@include rtl-padding-right(20px);
				@include rtl-border-right(1px solid #dedede);
				line-height:20px;
				&:last-child{
					@include rtl-margin-right(0);
					@include rtl-padding-right(0);
					@include rtl-border-right(0);
				}
			}
		}
		@media (max-width:1400px) and (min-width:$screen-md-max){
			.header-page-link{
				@include rtl-margin-left(-20px);
				>*{
					@include rtl-margin-left(10px);
				}
			}
		}
	}
	&.header-v3{
		background: #f4f4f4;
	}
	&.header-v3, &.header-v6{		
		.header-left{
			.header-search-form{
				.search-from{
					max-width:100%;
				}
			}
		}
		.categories-vertical-menu .widget-title{
			background:$theme-color;
			color: $white;
			font-family: $font-family-second;
			font-size: 14px;
			font-weight: 500;
			letter-spacing: 3px;
			&:before{
				background:$gray-dark;
			}
		}
		.header-bottom{
			background: $white;
			position: relative;
			&:before{
				content: "";
				background: $border-color;
				bottom: 0;
				@include rtl-left(0);
				@include size(100%, 1px);
				position: absolute;
				z-index: 0;
			}
		}
		.header-menu{
			width:100%;
			flex:1;
		}
		.header-wrapper{
			padding:20px 0;
			.row{
				align-items:center;
			}
		}
		.topbar-left{
			>*{
				@include rtl-margin-right(20px);
				@include rtl-padding-right(20px);
				@include rtl-border-right(1px solid #dedede);
				line-height:20px;
				&:last-child{
					@include rtl-margin-right(0);
					@include rtl-padding-right(0);
					@include rtl-border-right(0);
				}
			}
		}
		@media (max-width:1400px) and (min-width:$screen-md-max){
			.header-page-link{
				@include rtl-margin-left(-20px);
				>*{
					@include rtl-margin-left(10px);
				}
			}
		}
	}
	&.header-v4{
		background:#217b26;
		@media (min-width: 1440px){
			.container {
				max-width: 100%;
			}
		}
		@media (min-width: 1800px){
			.container {
				max-width: 1800px;
			}
		}
		@media (max-width: 1799px) and (min-width: 1200px){
			.header-left{
				max-width: 39.666665%;
				flex: 0 0 39.666665%;
			}
			.header-right{
				max-width: 43.666665%;
				flex: 0 0 43.666665%;
			}
		}
		.header-left{
			.header-search-form{
				.search-from{
					max-width:100%;
					border: 0;
					height: 54px;
				}
			}
		}
		.header-page-link {
			.search-box .search-toggle{
				color: $white;
				&:hover{
					color: $gray-dark;
				}
			}
			 .mini-cart .cart-icon {
			 	.icons-cart{
				 	color: $white;
				 }
				 .cart-count{
				 	background: $gray-dark;
				 }
				&:hover{
					.icons-cart{
						color: $gray-dark;
					}
				}
			 }
		}
		.header-phone{
			border: 2px solid $white;
			color: $white;
			padding: 9px 25px;
			font-size: 18px;
			line-height: 20px;
			@include border-radius(10px);
			white-space: nowrap;
			@media (max-width: $screen-md-max){
				padding: 9px 10px;
				font-size: 16px;
			}
			.phone{
				position: relative;
				@include rtl-padding-left(50px);
				@media (max-width: $screen-md-max){
					@include rtl-padding-left(0px);
				}
				>label{
					font-size: 11px;  
					display: block;
					margin: 0;
					font-weight: 700;
					font-family: $font-family-monospace;
				}
				&:before{
					position: absolute;
					top: 10px;
					font-size: 35px;
					@include rtl-left(0);
					content:"\e90b";
					font-family:icomoon;
					@media (max-width: $screen-md-max){
						display: none;
					}
				}
				a{
					color: $white;
					&:hover{
						color: $gray-dark;
					}
				}
			}
		}
		.categories-vertical-menu{
			.bwp-vertical-navigation > div ul.menu li.level-0 > a{
				padding: 9.4px 15px;  
			}
			.widget-title{
				background:$theme-color;
				color: $white;
				font-family: $font-family-second;
				font-size: 14px;
				font-weight: 500;
				letter-spacing: 3px;
				&:before{
					background:$white;
				}
				i{
					background: $gray-dark;
					&:before{
						background: $gray-dark;
					}
					&:after{
						background: $gray-dark;
					}
				}
			}
			.verticalmenu{
				border: 0;
			}
			.bwp-vertical-navigation > div{
				margin-top: 6px;
			}
		}
		.header-bottom{
			background: $gray-dark;
			position: relative;
			.list-sale-store{
				a{
					color: $white;
					&:hover{
						color: $theme-color;
					}
				}
			}
			.header-vertical-menu{
				max-width: 270px;
				@media (max-width:$screen-md-max){
					max-width: 240px;
				}
			}
		}
		.header-menu{
			width:100%;
			flex:1;
			@include rtl-padding-left(10px);
			.bwp-navigation ul > li.level-0 > a{
				color: $white;
				&:hover{
					color: $theme-color;
				}
			}
		}
		.header-wrapper{
			padding:20px 0;
			a,h2{
				color: $white;
				&:hover{
					color: $gray-dark;
				}
			}
			.row{
				align-items:center;
			}
		}
		.topbar-left{
			>*{
				@include rtl-margin-right(20px);
				@include rtl-padding-right(20px);
				@include rtl-border-right(1px solid #dedede);
				line-height:20px;
				&:last-child{
					@include rtl-margin-right(0);
					@include rtl-padding-right(0);
					@include rtl-border-right(0);
				}
			}
		}
		@media (max-width:1400px) and (min-width:$screen-md-max){
			.header-page-link{
				@include rtl-margin-left(-20px);
				>*{
					@include rtl-margin-left(10px);
				}
			}
		}
		.header-mobile{
			.navbar-toggle:before{
				color: $white;
			}
			.mini-cart .cart-icon .icons-cart{
				color: $white;
				.cart-count{
					background: $white;
					color: $theme-color;
				}
			}
		}
	}
	&.header-v5{
		.header-mobile{
		    background: $white;
		}
		@media (min-width: $screen-sm){
			position: absolute;
			width: 100%; 
		}
		@media (min-width: $screen-md){
			&:before{
				position: absolute;
				top: 0;
				content: "";
				@include rtl-left(0);
				background: $gray-dark;
				@include size(100%, 80px);
				z-index: -1;
			}		
		}
		.topbar-v2{
			border: 0 !important;
		}
		.header-left{
			.header-search-form{
				.search-from{
					max-width:100%;
				}
			}
		}
		.header-vertical-menu{
			position: relative;
			&:before{
				position: absolute;
				top: 0;
				@include rtl-right(0);
				background: $theme-color;
				content: "";
				@include size(calc(100% - 60px), 100%);
			}
			.vertical-style{
				&:before{
					content: "";
					position: absolute;
					top: 0;
					@include rtl-left(0);
					@include square(0);
					border-top: 13.75px solid $gray-dark;
					border-bottom: 13.75px solid transparent;
					border-left: 30px solid $gray-dark;
				}
				&:after{
					content: "";
					position: absolute;
					top: 0;
					@include rtl-left(0);
					@include square(0);
					border-top: 27.5px solid transparent;
					border-bottom: 27.5px solid transparent;
					border-right: 30px solid $gray-dark;
				}
			}
		}
		.categories-vertical-menu .widget-title{
			color: $white;
			background: transparent;
			font-family: $font-family-second;
			font-size: 14px;
			font-weight: 500;
			letter-spacing: 3px;
			position: relative;
			&:before{
				background:$gray-dark;
				width: 30px;
				left: 30px;
			}
		}
		.header-bottom{
			.content-header-bottom{
				@include rtl-padding-right(25px);
				position: relative;
				&:before{
					content:"";
					position: absolute;
					top: 0;
					@include rtl-left(0);
					@include size(100%, 1px);
					background: $border-color;
				}
				&:after{
					content:"";
					top: 0;
					@include rtl-right(0);
					background: $white;
					@include size(calc(100% - 275px), 100%);
					position: absolute;
					z-index: -1;
				}
				@media (max-width:$screen-md-max){
					&:after{
						width: calc(100% - 240px);
					}
				}
			}

		}
		.header-menu{
			width:100%;
			flex:1;
		}
		.header-wrapper{
			.header-wrapper-inner{
				@include rtl-padding(13px, 40px, 13px, 25px);
				background: $white;
				position: relative;
				&:before{
					position: absolute;
					content:"";
					@include square(0);
					top: 0;
					@include rtl-right(0);
					@include square(0);
					border-top: 30px solid $gray-dark;
					border-left: 30px solid transparent;
				}
			}
			.row{
				align-items:center;
			}
		}
		.topbar-left{
			>*{
				@include rtl-margin-right(20px);
				@include rtl-padding-right(20px);
				@include rtl-border-right(1px solid #dedede);
				line-height:20px;
				&:last-child{
					@include rtl-margin-right(0);
					@include rtl-padding-right(0);
					@include rtl-border-right(0);
				}
			}
		}
		@media (max-width:1400px) and (min-width:$screen-md-max){
			.header-page-link{
				@include rtl-margin-left(-20px);
				>*{
					@include rtl-margin-left(10px);
				}
			}
		}
	}
	&.header-v6{
		background: $white;
		.header-bottom{
			&:before{
				top: 0;
				bottom: auto;
			}
		}
	}
    &.bwp-header-default{
        padding: 40px 0;
		@media (max-width:$screen-sm-max){
			padding:0;
		}
		.header-content{
			.row{
				align-items:center;
			}
		}
		.wpbingoLogo{
			@media (max-width:$screen-xs){
				@include rtl-text-align-left();
			}
		}
        .wpbingo-menu-mobile{
			&.text-right{
				.navbar-toggle{
					@include rtl-float-right();
				}
				.bwp-navigation ul>li.level-0{
					&:last-child{
						>a{
							@include rtl-margin-right(0);
						}
					}
				}
			}
        }
		@media (max-width:$screen-sm-max){
			.wpbingoLogo{
				margin-bottom:0 !important;
			}
			.header-logo{
				margin-bottom:0 !important;
			}
			#show-megamenu{
				position:unset !important;
			}
		}
    }
}

.form-login-register{
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	
	&.active{
		display:block;
	}
	.active-login{
		position:fixed;
		width:100%;
		height:100%;
		background:rgba($gray-dark,0.7);
	}
	.box-content{
		position:relative;
		overflow:hidden;
		.form-login{
			position:relative;
			z-index:3;
			background:$white;
			@include opacity-h();
			@include transition(all 0.5s ease);
			@include transform(translateX(-100%));
			&.active{
				@include opacity-s();
				@include transform(translateX(0));
			}
		}
		.form-register{
			position:absolute;
			width:100%;
			top:0;
			left:0;
			z-index:2;
			background:$white;
			@include opacity-h();
			@include transition(all 0.5s ease);
			@include transform(translateX(100%));
			&.active{
				@include opacity-s();
				@include transform(translateX(0));
			}
		}
	}
	.box-form-login{
		width:100%;
		max-width:510px;
		background:$white;
		margin:auto;
		position:absolute;
		left:calc(50% - 255px);
		top:50%;
		@include transform(translateY(-50%));
		.active-login{
			position:absolute;
			@include square(auto);
			background:transparent;
			font-size:23px;
			color:$gray-dark;
			cursor:pointer;
			@include rtl-right(25px);
			top:10px;
			z-index:9;
			&:hover{
				color:$theme-color;
			}
		}
		h2{
			text-align:center;
			position:relative;
			margin:0;
			font-size:24px;
			font-weight:700;
			border-bottom:1px solid #e1e1e1;
			padding-bottom:12px;
			margin-bottom:40px;
			padding-top:50px;
			&:after{
				content:"";
				@include size(210px,1px);
				background:$theme-color;
				position:absolute;
				bottom:-1px;
				left:calc(50% - 105px);
			}
		}
		.button-login{
			input[type="submit"]{
				background:$gray-dark;
				border:0;
				font-size:12px;
				color:$white;
				font-weight:500;
				font-family:$font-family-second;
				text-transform:uppercase;
				cursor:pointer;
				&:hover{
					background:$theme-color;
				}
			}
		}
		.button-next-reregister{
			line-height:48px;
			color:$gray-dark;
			border:1px solid $gray-dark;
			font-weight:500;
			font-family:$font-family-second;
			text-transform:uppercase;
			cursor:pointer;
			text-align:center;
			margin-top:12px;
			display:inline-block;
			width:100%;
			&:hover{
				background:$theme-color;
				color:$white;
				border-color:$theme-color;
			}
		}
		.content{
			padding:0 60px 30px;
			input{
				width:100%;
				height:50px;
				line-height:50px;
			}
			.username,.password,.email{
				margin-bottom:15px;
				input{
					@include rtl-padding(0 ,20px ,0 ,40px);
				}
			}
			.username{
				margin-bottom:15px;
				position:relative;
				&:before{
					content:"\e910";
					font-family:wpbingofont;
					font-size:20px;
					color:$gray-dark;
					position:absolute;
					line-height:50px;
					@include rtl-left(13px);
				}
			}
			.password{
				position:relative;
				&:before{
					content:"\e90f";
					font-family:wpbingofont;
					font-size:20px;
					color:$gray-dark;
					position:absolute;
					line-height:50px;
					@include rtl-left(13px);
				}
			}
			.email{
				position:relative;
				&:before{
					content:"\e90e";
					font-family:wpbingofont;
					font-size:20px;
					color:$gray-dark;
					position:absolute;
					line-height:50px;
					@include rtl-left(13px);
				}
			}
		}
		.user-role{
			margin:0 0 18px;
			justify-content:space-between;
			&:after,&:before{
				display:none;
			}
			input{
				@include square(16px);
				display:inline-block;
				position:relative;
				top:3px;
			}
			.radio{
				color:$gray-dark;
				font-weight:500;
				cursor: pointer;
			}
		}
		.rememberme-lost{
			display:flex;
			justify-content:space-between;
			flex-wrap:wrap;
			margin-top:17px;
			margin-bottom:20px;
			.rememberme{
				@include rtl-margin-right(10px);
				position:relative;
				input{
					display:none;
					&:checked + label:after{
						@include scale(1);
					}
				}
			}
			.inline{
				color:$gray-dark;
				font-weight:500;
				cursor: pointer;
				&:before{
					@include square(16px);
					content:"";
					display:inline-block;
					@include border-radius(50%);
					border:2px solid $gray-dark;
					@include rtl-margin-right(5px);
					position:relative;
					top:3px;
					z-index:2;
				}
				&:after{
					@include square(16px);
					content:"";
					display:inline-block;
					@include border-radius(50%);
					position:absolute;
					top:3px;
					border:4px solid $white;
					@include rtl-left(0);
					background:$theme-color;
					@include transition(all 0.3s ease);
					z-index:1;
					@include scale(0);
				}
			}
			.lost_password{
				font-weight:500;
				a{
					display:inline-block;
					position:relative;
					&:before{
						bottom:0;
						left:50%;
						@include translateX(-50%);
						content:"";
						position:absolute;
						@include size(100%,1px);
						@include transition(all 0.3s ease);
						background:$gray-dark;
					}
					&:hover{
						&:before{
							background:$theme-color;
							width:50%;
						}
					}
				}
			}
		}
		.form-register{
			h2{
				&:before{
					content:"\e910";
				}
			}
		}
	}
	@media (max-width:$screen-xs-max){
		.box-form-login{
			max-width:310px;
		}
	}
}

/************************************************************************************************
    SICKEY MENU
*************************************************************************************************/ 
.bwp-header.sticky{
    position: fixed !important;
    width: 100%;
    background: rgba($white,0.93);
    z-index: 99999;
    left: 0;
    padding: 20px 0 !important;
    right: 0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08);
    top: 0;
    border: none;
    @include animation(sticky-header 900ms ease-in-out);
	.header-wrapper{
		padding:0 !important;
	}
	.header-vertical-menu{
		display:none;
	}
	&.header-v2{
		padding:0 !important;
		.header-wrapper{
			display:none;
		}
	}
	&.header-v3{
		.header-wrapper{
			display:none;
		}
		.header-bottom{
			background:transparent;
			&:before{
				display:none;
			}
		}
	}
	&.header-v4{
		background:rgba($gray-dark,0.5);
		.header-wrapper{
			display:none;
		}
		.header-bottom{
			background:transparent;
		}
	}
	&.header-v5{
		&:before{
			display:none;
		}
		.header-wrapper{
			display:none;
		}
		.content-header-bottom{
			&:before,&:after{
				display:none;
			}
		}
	}
    #bwp-topbar{ display: none; }
	@media (max-width:$screen-sm-max){
		position:relative !important;
		animation: none;
		.header-mobile{
			>.container{
				position: fixed !important;
				width: 100%;
				background: #fff;
				z-index: 900;
				left: 0;
				padding-top:15px;
				padding-bottom:15px;
				right: 0;
				box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08);
				top: 0;
				border: none;
				@include animation(sticky-header 900ms ease-in-out);
			}
		}
	}
}

.wpbingoLogo-sticky{
    display: none;
}

@keyframes fadeInDown{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}
