.cta-button {
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 24px;
    margin-top: 30px;
    padding: 19px 48px 17px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.25s ease-out;
}
.cta-button.style-color {
    background-color: #194d02;
    color: #ffffff;
}
.cta-button.style-color:hover,
.cta-button.style-color:focus {
    background-color: #103101;
}
.cta-button.style-color.variant-secondary {
    border: 2px solid #194d02;
    color: #194d02;
}
.cta-button.style-color.variant-secondary:hover,
.cta-button.style-color.variant-secondary:focus {
    background-color: transparent;
    border: 2px solid #222d35;
    color: #222d35;
}
.cta-button.style-light {
    background-color: #ffffff;
    color: #194d02;
}
.cta-button.style-light:hover,
.cta-button.style-light:focus {
    background-color: rgba(255, 255, 255, 0.8);
}
.cta-button.style-light.variant-secondary {
    border: 2px solid #ffffff;
    color: #ffffff;
}
.cta-button.style-light.variant-secondary:hover,
.cta-button.style-light.variant-secondary:focus {
    background-color: rgba(255, 255, 255, 0.2);
}
.cta-button.variant-secondary {
    background-color: transparent;
    padding: 17px 48px 15px;
}
.cta-button.variant-small {
    padding: 13px 48px 11px;
}
.cta-button:hover {
    text-decoration: none;
}
.cta-button:focus {
    outline: -webkit-focus-ring-color auto 1px;
}
