.tx-iff-components-flexible {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1156px;
  width: 100%;
}

.tx-iff-components-flexible .left,
.tx-iff-components-flexible .right {
  width: 50%;
}

.tx-iff-components-flexible.layout-3,
.tx-iff-components-flexible.layout-4 {
  flex-wrap: wrap;
  gap: 0 50px;
  max-width: 992px;
}

.tx-iff-components-flexible.layout-3 .left,
.tx-iff-components-flexible.layout-3 .right,
.tx-iff-components-flexible.layout-4 .left,
.tx-iff-components-flexible.layout-4 .right {
  width: calc(50% - 25px);
}

.tx-iff-components-flexible.layout-3 .content-section-title,
.tx-iff-components-flexible.layout-4 .content-section-title {
  width: 100%;
}

.tx-iff-components-flexible.layout-3 .bodytext,
.tx-iff-components-flexible.layout-4 .bodytext {
  color: #415364;
}

.tx-iff-components-flexible.layout-5 {
  align-items: flex-start;
  flex-direction: column;
  /* max-width: 756px; */
}

.tx-iff-components-flexible.layout-5 .flexible__image {
  margin: 0 auto 30px;
  min-height: 0;
  padding-bottom: 100%;
}

.tx-iff-components-flexible.layout-5.images-1.image-width-medium,
.tx-iff-components-flexible.layout-5.images-1.image-width-small {
  align-items: center;
  text-align: center;
}

.tx-iff-components-flexible.layout-5.images-1.image-width-small .flexible__image {
  padding-bottom: 25%;
  width: 25%;
}

.tx-iff-components-flexible.layout-5.images-1.image-width-medium .flexible__image {
  padding-bottom: 50%;
  width: 50%;
}

.flexible__mobile-bodytext {
  display: none;
}

.flexible__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
}

.flexible__image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 565px;
  width: 100%;
}
@media (max-width:992px) {
  .flexible__image {
    min-height: 460px;
  }

  .flexible__content {
    padding: 40px;
  }
}
@media (max-width:768px) {
  .flexible__image-container {
    order: 1;
  }

  .flexible__image {
    min-height: 350px;
  }

  .flexible__content {
    order: 2;
  }

  .tx-iff-components-flexible.layout-1,
  .tx-iff-components-flexible.layout-2 {
    flex-direction: column;
  }

  .tx-iff-components-flexible.layout-3,
  .tx-iff-components-flexible.layout-4 {
    flex-direction: column;
  }

  .tx-iff-components-flexible.layout-3 .left,
  .tx-iff-components-flexible.layout-3 .right,
  .tx-iff-components-flexible.layout-4 .left,
  .tx-iff-components-flexible.layout-4 .right {
    width: 100%;
  }

  .tx-iff-components-flexible.layout-3 .left > .bodytext,
  .tx-iff-components-flexible.layout-3 .right > .bodytext,
  .tx-iff-components-flexible.layout-4 .left > .bodytext,
  .tx-iff-components-flexible.layout-4 .right > .bodytext {
    /* display: none; */
  }

  .tx-iff-components-flexible .left,
  .tx-iff-components-flexible .right {
    width: 100%;
  }

  .flexible__mobile-bodytext {
    display: block;
  }

  .bodytext p {
    margin-top: 1rem;
  }
}
