#skip {
    left: -999px;
    position: fixed;
    text-decoration: none;
    z-index: -999;
}
#skip:focus,
#skip:active {
    background-color: #194d02;
    color: #ffffff;
    font-size: 1em;
    left: 1em;
    line-height: 1em;
    padding: 1em;
    text-align: center;
    top: 1em;
    z-index: 2000;
}
.frame {
    margin-bottom: 10vh;
    margin-top: 5vh;
}
.ctype-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 756px;
    width: 100%;
}
.text-center {
    text-align: center;
}
.large-body {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}
.ellipsis {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
h1,
.h1,
h3,
.h3,
h5,
.h5 {
    color: #194d02;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
h2,
.h2,
h4,
.h4,
h6,
.h6 {
    color: #222d35;
    font-weight: 300;
    letter-spacing: 0;
    margin-bottom: 0.5em;
}
h1,
.h1 {
    font-size: 48px;
    font-weight: 900;
    /* letter-spacing: 7.2px; */
    line-height: 56px;
}
h2,
.h2 {
    font-size: 48px;
    /* line-height: 58px; */
}
h3,
.h3 {
    font-size: 36px;
    font-weight: 700;
    /* letter-spacing: 5.4px; */
    line-height: 44px;
}
h4,
.h4 {
    font-size: 30px;
    /* line-height: 40px; */
}
h5,
.h5 {
    font-size: 20px;
    font-weight: 900;
    /* letter-spacing: 3px; */
    line-height: 26px;
}
h6,
.h6 {
    font-size: 24px;
    line-height: 36px;
}
p,
ul,
ol {
    margin-bottom: 1em;
    /* margin-top: 1em; */
}
a {
    color: #194d02;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.text-light .bodytext,
.text-light h1,
.text-light .h1,
.text-light h2,
.text-light .h2,
.text-light h3,
.text-light .h3,
.text-light h4,
.text-light .h4,
.text-light h5,
.text-light .h5,
.text-light h6,
.text-light .h6 {
    color: #ffffff;
}
ol,
ul {
    padding-left: 20px;
}
ol li:not(:last-child),
ul li:not(:last-child) {
    margin-bottom: 10px;
}
body.template-products main,
body.template-pardot main {
    display: flex;
    gap: 40px;
}
body.template-products main > aside,
body.template-pardot main > aside {
    width: 30%;
}
body.template-products main > div,
body.template-pardot main > div {
    width: 30%;
    position: relative;
}
body.template-products main > div iframe,
body.template-pardot main > div iframe {
    border: 0;
    transition: all ease 0.2s;
}
body.template-products main > div iframe.fixed,
body.template-pardot main > div iframe.fixed {
    position: fixed;
}
body.template-products main > div iframe.fixed.with-banner,
body.template-pardot main > div iframe.fixed.with-banner {
    margin-top: 140px;
}
body.template-products main > div iframe.absolute,
body.template-pardot main > div iframe.absolute {
    position: absolute;
    bottom: 0;
}
body.template-products main > div iframe.margin,
body.template-pardot main > div iframe.margin {
    margin-top: -100px;
}
body.template-products main > div iframe.margin.with-banner,
body.template-pardot main > div iframe.margin.with-banner {
    margin-top: 0;
}
body.template-products main > div iframe.margin.fixed.with-banner,
body.template-pardot main > div iframe.margin.fixed.with-banner {
    margin-top: 40px;
}
body.template-products #field_0,
body.template-pardot #field_0 {
    width: 70%;
}
body.template-pardot main {
    min-height: 100vh;
}
#template-product-menu a {
    align-items: center;
    color: #194d02;
    display: flex;
    font-size: 1.1em;
    justify-content: space-between;
    padding: 11px 15px 10px 0;
    text-decoration: none;
}
#template-product-menu a.active {
    background-color: #194d02;
    color: #ffffff;
    padding: 11px 15px 10px;
}
#template-product-menu a.active:after {
    border-color: #ffffff;
}
#template-product-menu a.active:hover {
    background-color: #194d02;
    color: #ffffff;
}
#template-product-menu a.active:hover:after {
    border-color: #ffffff;
}
#template-product-menu a:after {
    border-bottom: 2px solid #194d02;
    border-right: 2px solid #194d02;
    content: "";
    display: block;
    height: 8px;
    margin-bottom: 2px;
    transform: rotate(-45deg);
    width: 8px;
}
#template-product-menu a:hover {
    color: #00416b;
}
#template-product-menu a:hover:after {
    border-color: #00416b;
}
.product-menu__category {
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.product-menu__category:not(:first-of-type) {
    margin-top: 30px;
}
@media (max-width: 992px) {
    h1,
    .h1 {
        font-size: 36px;
        /* letter-spacing: 5.4px; */
        line-height: 42px;
    }
    h2,
    .h2 {
        font-size: 36px;
        line-height: 44px;
    }
    h3,
    .h3 {
        font-size: 28px;
        /* letter-spacing: 4.2px; */
        line-height: 32px;
    }
    h4,
    .h4 {
        font-size: 24px;
        line-height: 30px;
    }
    h5,
    .h5 {
        font-size: 16px;
        /* letter-spacing: 2.4px; */
        line-height: 20px;
    }
    h6,
    .h6 {
        font-size: 20px;
        line-height: 28px;
    }
}
@media (max-width: 768px) {
    body.template-products main,
    body.template-pardot main {
        flex-wrap: wrap;
    }
    body.template-products main #field_0,
    body.template-products main > div,
    body.template-pardot main #field_0,
    body.template-pardot main > div {
        width: 100%;
    }
    body.template-products main #field_0 iframe,
    body.template-products main > div iframe,
    body.template-pardot main #field_0 iframe,
    body.template-pardot main > div iframe {
        width: 100%;
        height: 1000px !important;
    }
    body.template-products main #field_0 iframe.fixed,
    body.template-products main #field_0 iframe.absolute,
    body.template-products main > div iframe.fixed,
    body.template-products main > div iframe.absolute,
    body.template-pardot main #field_0 iframe.fixed,
    body.template-pardot main #field_0 iframe.absolute,
    body.template-pardot main > div iframe.fixed,
    body.template-pardot main > div iframe.absolute {
        position: relative;
    }
    body.template-products main #field_0 iframe.margin,
    body.template-products main > div iframe.margin,
    body.template-pardot main #field_0 iframe.margin,
    body.template-pardot main > div iframe.margin {
        margin-top: 0;
    }
    body.template-products main > aside,
    body.template-pardot main > aside {
        display: none;
    }
}
@media (max-width: 576px) {
    h1,
    .h1 {
        font-size: 28px;
        /* letter-spacing: 4.2px; */
        line-height: 36px;
        color: #fff !important;
    }
    h2,
    .h2 {
        font-size: 28px;
        line-height: 36px;
    }
    h3,
    .h3 {
        font-size: 24px;
        /* letter-spacing: 3.6px; */
        line-height: 26px;
    }
    h4,
    .h4 {
        font-size: 22px;
        line-height: 28px;
    }
    h5,
    .h5 {
        font-size: 16px;
        /* letter-spacing: 2.4px; */
        line-height: 20px;
        color: #fff !important;
    }
    h6,
    .h6 {
        font-size: 16px;
        line-height: 26px;
    }
    .large-body {
        font-size: 18px;
        line-height: 28px;
    }
}
