#banner__container {
    opacity: 0;
    pointer-events: none;
    position: relative;
    transition: opacity 0.25s ease-out;
    width: 100%;
}
#banner__container.visible {
    opacity: 1;
    pointer-events: auto;
}
#banner__container.multiple-banners {
    margin-bottom: 120px;
}
#banner__container.size-standard {
    height: 100vh;
}
#banner__container.size-small {
    height: 50vh;
}
#banner__container[data-banner-count="2"] #banner__preview {
    width: 500px;
}
#banner__container .banner {
    flex: 1;
    position: relative;
    transition: all ease 0.5s;
}
#banner__container .banner video,
#banner__container .banner .banner__images,
#banner__container .banner .banner__image {
    /* height: 100%;
    width: 100%; */
    height: 100vh;
    width: 100vw;
}
#banner__container .banner .banner__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#banner__container .banner video {
    object-fit: cover;
}
#banner__slider-outer {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#banner__slider {
    align-items: stretch;
    display: flex;
    height: 100%;
    transition: transform 0.25s ease-out;
}
#banner__preview {
    background-color: #ffffff;
    bottom: -120px;
    height: 290px;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 735px;
}
#banner__preview .preview {
    cursor: pointer;
    position: relative;
    transition: all ease 0.5s;
    width: 205px;
}
#banner__preview .preview .graphic {
    height: 100px;
    width: 100%;
}
#banner__preview .preview .graphic .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
#banner__preview .preview .text {
    margin-top: 30px;
    margin-bottom: 0;
}
#banner__preview .preview .sub-text {
    font-size: 14px;
}
#banner__preview .preview.active:after {
    background-color: #0075cf;
    bottom: 0;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    width: 100%;
}
#banner-preview__slider {
    align-items: stretch;
    display: flex;
    gap: 30px;
    height: 100%;
    padding: 30px 30px 0;
    position: relative;
    transition: transform 0.25s ease-out;
}
.banner__overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.banner__overlay.variant-dark {
    background-color: rgba(0, 0, 0, 0.25);
}
.banner__overlay.variant-light {
    background-color: rgba(255, 255, 255, 0.2);
}
.banner__content {
    bottom: 41%;
    left: 0;
    position: absolute;
    width: 100%;
    margin-left: 7rem;
}
.banner__heading,
.banner__sub-heading {
    max-width: 1000px;
}

.banner__heading {
    font-size: 2rem !important;
}

@media (max-width: 1024px) {
    #banner__container.multiple-banners {
        margin-bottom: 0;
    }
    #banner__preview {
        display: none;
    }
}
@media (max-width: 576px) {
    #banner__container.size-standard,
    #banner__container.size-small {
        height: auto;
    }
    #banner__container .banner .banner__images,
    #banner__container .banner .banner__overlay {
        height: 100vh;
    }
    #banner__container .cta-button.style-light {
        background-color: #0075cf;
        color: #ffffff;
    }
    #banner__container .cta-button.style-light:hover,
    #banner__container .cta-button.style-light:focus {
        background-color: #00416b;
    }
    #banner__container .cta-button.style-light.variant-secondary {
        border: none;
        color: #ffffff;
    }
    #banner__container .cta-button.style-light.variant-secondary:hover,
    #banner__container .cta-button.style-light.variant-secondary:focus {
        background-color: #00416b;
        border: none;
        color: #ffffff;
    }
    #banner__container .cta-button.variant-small {
        padding: 19px 48px 17px;
    }
    .banner__images {
        margin-bottom: 20px;
    }
    .banner__content {
        /* bottom: 0;
        position: relative; */
        bottom: 41%;
    }
    .banner__content.text-light .content-wrapper .banner__heading {
        color: #0075cf;
    }
    .banner__content.text-light .content-wrapper .banner__sub-heading {
        color: #222d35;
    }

    /* .scroll-down {
        display: none !important;
    } */

    #logo {
        max-width: 70px !important;
        margin-top: .6rem !important;
    }

    .banner__heading {
        font-size: 1.2rem !important;
        max-width: 200px;
    }

    .arrow-link {
        font-size: 1rem !important;
    }

}

.arrow-link {
    font-size: 1rem;
    font-weight: normal !important;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.arrow-circle {
    width: 30px;
    height: 30px;
    background-color: #194d02; /* Circle Background */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Makes it a circle */
    transition: background 0.3s, transform 0.3s;
}

.arrow-circle i {
    font-size: 14px;
}

.arrow-link:hover .arrow-circle {
    background-color: #fff; /* Hover Effect */
    color: #194d02;
    transform: scale(1.1);
}

.scroll-down {
    width: 50px;
    height: 50px;
    background-color: #194d02; /* Circle Background Color */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 50%; /* Makes it a circle */
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    animation: bounce 1.5s infinite;
}

.scroll-down:hover {
    background-color: #fff; /* Hover Effect */
    color: #194d02;
    transform: translateX(-50%) scale(1.1);
}


@keyframes bounce {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(10px);
    }
}

.next {
    height: 100vh;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-header.scrolled {
    background: #fff; /* Dark background when scrolled */
    color: #194d02 !important;
}

.main-header-link.scrolled {
    background: #fff; /* White background when scrolled */
    color: #194d02 !important;
}

.active.scrolled {
    border-bottom: 2px solid #194d02 !important;
}

.burger-line.scrolled {
    background-color: #194d02;
}

/* No animation for .banner__image anymore */
.banner__content_index {
    opacity: 0;
    transform: translateY(20px);
}

/* Animation trigger only for content */
.animate-content {
    animation: slideInContent 1s ease forwards;
    animation-delay: 0.5s;
}

@keyframes slideInContent {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
